@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-barlow: "Barlow", sans-serif;
  --color-dark-blue: #130918;
  --color-bege: #ece2d0;
  --color-green-xbox: #107c10;
  --color-light-red: #107c10;
  --color-yellow-arc: #f1aa1c;
}
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-white;
  }
}
/*Embla carousel start*/
.embla {
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 65%;
}
.embla__viewport {
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  /* tablet */
  .embla__viewport {
    padding-inline: 0; /* mais espaço nas laterais */
  }
}
@media (min-width: 825px) {
  /* tablet */
  .embla__viewport {
    padding-inline: 0; /* mais espaço nas laterais */
  }
}
@media (min-width: 929px) {
  /* tablet */
  .embla__viewport {
    padding-inline: 0; /* mais espaço nas laterais */
  }
}
@media (min-width: 989px) {
  /* tablet */
  .embla__viewport {
    padding-inline: 0; /* mais espaço nas laterais */
  }
}
@media (min-width: 1050px) {
  /* desktop */
  .embla__viewport {
    padding-inline: 0;
  }
}
@media (min-width: 1128px) {
  /* desktop */
  .embla__viewport {
    padding-inline: 0;
  }
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: 0;
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: var(--color-gray-300);
  position: relative;
  height: 0.2rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: var(--color-light-red);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

/*Embla carousel end*/
.role-icon.icon-controller {
  display: inline-block;
  width: 32px;
  height: 32px;

  /* Aplica o filtro no elemento principal */
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.75));
  position: relative; /* necessário para posicionar o ::before */
}

.role-icon.icon-controller::before {
  content: "";
  position: absolute;
  inset: 0;
  display: block;
  background-color: rgb(255, 70, 85); /* cor vermelha */
  -webkit-mask-image: url("https://playvalorant.com/_next/static/node_modules/@riotgames/blades-ui/dist/skins/common/assets/roleController.svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;

  /* Para navegadores que suportam mask padrão */
  mask-image: url("https://playvalorant.com/_next/static/node_modules/@riotgames/blades-ui/dist/skins/common/assets/roleController.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  pointer-events: none; /* garante que o pseudo-elemento não capture cliques */
}
.bg-muted {
  background-color: none !important;
}
.data-\[state\=active\]\:bg-background {
  &[data-state="active"] {
    background-color: transparent !important;
  }
}
.emblaThumb {
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewportThumb {
  overflow: hidden;
}
.embla__containerThumb {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slideThumb {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__numberThumb {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
  margin-top: var(--thumbs-slide-spacing);
}
.embla-thumbs__viewport {
  overflow: hidden;
}
.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
}
.embla-thumbs__slide {
  flex: 0 0 33%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
  overflow: visible;
}
@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 20%;
  }
}
.embla-thumbs__slide__number {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--detail-high-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  color: var(--text-body);
}
/*Arsenal start*/
.bgArsenal {
  background-image: url("https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/57e5d93a924bf34a0959177c30fc57d1238c5bf8-5120x828.png?auto=format&fit=fill&q=80&w=1351");
}
/*Arsenal ends*/
/*Midia start*/
.bgMidia {
  background-image: url("https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/af73819d08ad3bbb80a79dcfb048f847923bda56-5120x1280.png?auto=format&fit=fill&q=80&w=1440");
}
/*Midia ends*/
/*Header start*/
.nav-effect {
  @apply relative px-2 pb-2 bg-transparent rounded-md cursor-pointer  hover:text-light-red;
}
.span-effect {
  @apply after:content-[''] after:block after:w-full after:h-[3px] after:absolute after:bottom-0 after:left-0 after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300 text-lg;
}
/*Header end*/
/*Hero Arc*/
.hero-arc {
  background-image: url("https://arcraiders.com/images/hero-bg/hero-bg-2.jpg");
}
/*Hero Arc*/
button svg {
  color: #130918 !important;
  width: 50px !important;
}
/*Hero Twitch*/
.hero-twitch {
  background-image: url("https://arcraiders.com/images/twitch-drops/hero-bg.jpg");
}
/*Hero Twich*/
/*Hero Creator*/
.hero-creator {
  background-image: url("https://arcraiders.com/images/creator-program/hero-bg.jpg");
}
.bg-second-section-creator {
  background-image: url("https://arcraiders.com/images/creator-program/dark-bg.png");
}
/*Hero Creator*/
